@import "vars";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: $Cream;
  font-family: "Montserrat", sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-card {
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 600px;
  background-color: $White;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}
.image-mobile {
  display: none;
}
.container-image img {
  height: 450px;
  object-fit: fill;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container-info {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-around;
  align-items: stretch;
}
.perfume {
  color: $Dark-grayish-blue;
  letter-spacing: 5px;
  font-size: 12px;
}
.title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 30px;
}
.info {
  color: $Dark-grayish-blue;
  font-size: 15px;
  line-height: 25px;
}
.precios {
  display: flex;
  align-items: center;
}
.descuento {
  font-family: "Fraunces", serif;
  font-size: 34px;
  color: $Dark-cyan;
  padding-right: 30px;
}
.precio {
  color: $Dark-grayish-blue;
  text-decoration: line-through;
}
.button {
  background-color: $Dark-cyan;
  color: $White;
  border: none;
  border-radius: 10px;
  height: 55px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
@media (max-width: 670px) {
  .container-card {
    flex-direction: column;
    height: 750px;
    width: 365px;
    border-radius: 10px;
  }
  .image-desktop {
    display: none;
  }
  .image-mobile {
    display: block;
  }
  .container-image img:nth-child(2) {
    width: 365px;
    height: 100%;
    object-fit: fill;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .container-info {
    height: 100%;
    padding: 25px;
  }
  .title {
    font-size: 36px;
  }
  .info {
    font-size: 15px;
  }
}
